extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let toastedid = toShow._id
    - let toastedItemname = toShow.Itemname
    - let toastedQuantity = toShow.Quantity
    - let toastedprice = toShow.price
    - let actionid = "/resource/toasted/" + toastedid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='toastedAttr mr-3') toasted ID is:
        div(class='newAttr') #{toastedid}
      div.row
        div(class='toastedAttr mr-3') toasted Itemname is:
        div(class='newAttr') #{toastedItemname}
      div.row
        div(class='toastedAttr mr-3') toasted Quantity is:
        div(class='newAttr') #{toastedQuantity}
      div.row
        div(class='toastedAttr mr-3') toasted price is:
        div(class='newAttr') #{toastedprice}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/toasted'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/toasted'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }